[General]
Number of Actions=0

[PlasmaViews][Panel 23]
floating={{ if .kde_panel_floating }}1{{ else }}0{{ end }}
panelLengthMode=1
panelVisibility=1

[PlasmaViews][Panel 23][Defaults]
thickness={{ .kde_panel_thickness }}
