[general]
backup-location={{ .backup_mount_point }}
source-paths=$HOME/Documents,$HOME/Media,$HOME/Library,$HOME/Games/Saves
excluded-paths=$HOME/.cache,$HOME/.local/share/Trash,$HOME/dev/build,$HOME/dev/sandbox

[schedule]
enabled=true
interval=3600

[prune]
keep-hourly=24
keep-daily=7
keep-weekly=4
keep-monthly=6
