[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = {{ .email | default "wyatt_au@protonmail.com" }}
	name = {{ .name | default "WyattAu" }}
[ghq]
	root = {{ .ghq_root | default "~/dev/src" }}
