# RetroArch global configuration
# https://docs.libretro.com/development/retroarch/

# --- Directory paths ---
libretro_directory = "~/.config/retroarch/cores"
rgui_browser_directory = "~/games/emulation"
content_directory = "~/games/emulation"
savefile_directory = "~/games/emulation/saves"
screenshot_directory = "~/games/screenshots"

# --- Drivers ---
video_driver = "vulkan"
audio_driver = "pulse"
input_driver = "udev"
joypad_driver = "udev"

# --- UI ---
menu_driver = "xmb"
rgui_config_directory = "~/.config/retroarch/config"
rgui_show_start_screen = "false"

# --- Performance ---
video_threaded = "true"
video_vsync = "true"
audio_sync = "true"
audio_latency = "64"
