{
  "defaultInstallPath": "{{ .chezmoi.homeDir }}/Games/heroic",
  "defaultWinePrefix": "{{ .chezmoi.homeDir }}/Games/heroic/prefix",
  "wineVersion": "",
  "wineCrossoverBottle": "",
  "savesPath": "{{ .chezmoi.homeDir }}/Games/Saves",
  "heroicSettings": {
    "startInTray": false,
    "minimizeToTray": false,
    "autoUpdateGames": true,
    "checkUpdatesOnStartup": true
  }
}
